.hide-fedora-report-btn {
	background-color: white;
	display: inline-block;
	visibility: hidden;
	height: 17px;
	border: 1px solid #999;
	color: #999;
	padding: 0 5px;
	padding-bottom: 1px;
	position: relative;
	bottom: 2px;
	outline: 0;
	font-size: 11px;
	text-decoration: none;
	white-space: nowrap;
	word-wrap: normal;
	line-height: normal;
	vertical-align: middle;
	cursor: pointer;
	border-radius: 2px;
}

.ve.oba.HPa:hover .hide-fedora-report-btn,
.Wi.lg.via:hover .hide-fedora-report-btn {
	visibility: visible;
}

.hide-fedora-reported {
	opacity: 0.4;
}
